<header>
    <div class="headFamily">
        <div class="homeReturn">
            <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/home.svg') }}" alt=""></a>
            <a href="{{ path('home_lesZanimeo') }}"><img class="homeReturnTitle" src="{{ asset('assets/img/title2.png') }}" alt=""></a>
        </div>
        <img class="vigne" src="{{ asset('assets/img/vigne3.png') }}" alt="">
    </div>
</header>