{% trans_default_domain 'FOSUserBundle' %}

<div class="formLogin">
    <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/main/home.jpg') }}" alt=""></a>
    <h1>Inscription</h1>
    <div class="formLogin2">
        <div class="formLogin3">

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            {{ form_label(form.username, 'Pseudo', {'label_attr':{'class':'labelContact'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton pseudo ?' }}) }}

            {{ form_label(form.email, 'Email', {'label_attr':{'class':'labelContact'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton mail ?' }}) }}

            {{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr':{'class':'labelContact'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton mot de passe ?' }}) }}

            {{ form_label(form.plainPassword.second, 'Confirmation', {'label_attr':{'class':'labelContact'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Merci de confirmer ton mot de passe' }}) }}

            <div class="btnConnectLogin">
                <input type="submit" class="btn btn-light" value="{{ 'registration.submit'|trans }}" name="submit"/>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>