{% extends 'base/baseQuiz.html.twig' %}

{% block main %}

    <div class="formLogin">
        <h1>Espace Admin</h1>
        <hr>
        <h1>Modification d'un animal</h1>

        {{ form_start(formAnimalsView) }}

        <div class="formLogin2">
            <div class="form-group">
                {{ form_label(formAnimalsView.name, 'Nom', {'label_attr':{'class':'labelAnimals'}}) }}
                {{ form_widget(formAnimalsView.name, {'attr': {'class': 'form-control', 'placeholder': 'Veuiller renseigner un nom' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formAnimalsView.description, 'Description', {'label_attr':{'class':'labelAnimals'}}) }}
                {{ form_widget(formAnimalsView.description, {'attr': {'class': 'form-control', 'placeholder': 'Veuiller renseigner une description' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formAnimalsView.image, 'Image', {'label_attr':{'class':'labelAnimals'}}) }}
                {{ form_widget(formAnimalsView.image, {'attr': {'class': 'form-control', 'placeholder': 'Veuiller renseigner une URL' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formAnimalsView.audio, 'Audio', {'label_attr':{'class':'labelAnimals'}}) }}
                {{ form_widget(formAnimalsView.audio, {'attr': {'class': 'form-control', 'placeholder': 'Veuiller renseigner un son' }}) }}
            </div>

            <div class="form-group">
                {{ form_label(formAnimalsView.enregistrer) }}
                {{ form_widget(formAnimalsView.enregistrer , {'attr': {'class': 'btn btn-success'}}) }}
            </div>

            <a href="{{ path('admin') }}">Retour</a>

            <div class="messageConfirmation">
                {% for messages in app.flashes %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endfor %}
            </div>

        </div>

        {{ form_end(formAnimalsView) }}

    </div>
{% endblock %}