{% extends 'base/baseQuiz.html.twig' %}

{% block main %}

    <div class="formLogin">
        <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/main/home2.jpg') }}" alt=""></a>
        <h1>Espace Admin</h1>
        {% if app.user %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-5 adminListBook">
                <div class="panel">
                    <div class="panel-heading">
                        <span>Liste des animaux</span>
                        <a href="{{ path('form_animals_insert')}}"><span class="glyphicon glyphicon-plus"></span>Ajout</a>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for element in animals %}
                                <li class="list-group-item">
                                    <div class="pictureAdmin">
                                        <img src="{{ asset('assets/img/animals') }}/{{ element.image }}">
                                    </div>
                                    {{ element.name }}
                                    <div class="pull-right action-buttons">
                                        <a href="{{ path('form_animals_update', {'id': element.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="{{ path('animals_delete', {'id': element.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>
                                    Total Count <span class="label label-info">25</span></h6>
                            </div>
                            <div class="col-md-6">
                                <ul class="pagination pagination-sm pull-right">
                                    <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                    <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="javascript:void(0)">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 familyList">
                <div class="panel">
                    <div class="panel-heading">
                        <span>Liste des familles</span>
    {#
                        <a href="{{ path('form_family_insert')}}"><span class="glyphicon glyphicon-plus"></span>Ajout</a>
    #}

                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {#{% for element in familles %}
                                <li class="list-group-item">
                                    <div class="pictureAdmin">
                                        <img src="{{ familles.image }}">
                                    </div>
                                    {{ familles.name }}
                                    <div class="pull-right action-buttons">
                                        #}{#<a href="{{ path('form_family_update', {'id': element.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="{{ path('family_delete', {'id': element.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>#}{#
                                    </div>
                                </li>
                            {% endfor %}#}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>
                                    Total Count <span class="label label-info">25</span></h6>
                            </div>
                            <div class="col-md-6">
                                <ul class="pagination pagination-sm pull-right">
                                    <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                    <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="javascript:void(0)">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}