{% extends 'base/baseQuiz.html.twig' %}

{% block main %}

    <div class="formLogin">
        <a href="{{ path('home_lesZanimeo') }}"><img class="homeButtonAdmin" src="{{ asset('assets/img/main/home.jpg') }}" alt=""></a>
        <h1>Espace Admin</h1>
        {% if app.user %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-8 adminListBook">
                <div class="panel">
                    <div class="panel-heading">
                        <span>Liste des animaux</span>

                        <!--------------------------BOUTON AJOUT ANIMAL--------------------------------->
                        <a href="{{ path('form_animals_insert')}}"><span class="glyphicon glyphicon-plus"></span>Ajout</a>
                    </div>

                    <!--------------------------LISTE DES ANIMAUX--------------------------------->
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for element in animals %}
                                <li class="list-group-item">
                                    <div class="pictureAdmin">
                                        <img src="{{ asset('assets/img/animals') }}/{{ element.image }}">
                                    </div>
                                    {{ element.name }}

                                    <!--------------------------BOUTONS MODIF ET SUPPR ANIMAL--------------------------------->
                                    <div class="pull-right action-buttons">
                                        <a href="{{ path('form_animals_update', {'id': element.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="{{ path('animals_delete', {'id': element.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}