{% extends 'base/baseFamily.html.twig' %}

{% block main %}
    <main>
        <div class="contentFamily">
            <div class="titleBugs">
                <img src="{{ asset('assets/img/main/titleBugs.png') }}" alt="">
            </div>

            <!--------------------------IMAGE FARM--------------------------------->
            <div class="sideFamily1">
                <a href="{{ path('farm_page') }}"><img src="{{ asset('assets/img/animals/farm.png') }}" alt=""></a>
            </div>

            <!--------------------------IMAGE BUGS--------------------------------->
            <div class="bugsFamily">
                <img src="{{ asset('assets/img/animals/bugs.png') }}" alt="">
                <div class="ladyBird">
                    <a href="{{ path('animals', {'id': 7}) }}"><img src="{{ asset('assets/img/animals/ladyBirdHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis la coccinelle !</div>
                    </a>
                </div>
                <div class="snail">
                    <a href="{{ path('animals', {'id': 8}) }}"><img src="{{ asset('assets/img/animals/snailHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis l'escargot !</div>
                    </a>
                </div>
                <div class="grasshopper">
                    <a href="{{ path('animals', {'id': 9}) }}"><img src="{{ asset('assets/img/animals/grasshopperHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis la sauterelle !</div>
                    </a>
                </div>
                <div class="caterpillar">
                    <a href="{{ path('animals', {'id': 10}) }}"><img src="{{ asset('assets/img/animals/caterpillarHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis la chenille !</div>
                    </a>
                </div>
                <div class="spider">
                    <a href="{{ path('animals', {'id': 11}) }}"><img src="{{ asset('assets/img/animals/spiderHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis l'araignée' !</div>
                    </a>
                </div>
                <div class="dragonfly">
                    <a href="{{ path('animals', {'id': 12}) }}"><img src="{{ asset('assets/img/animals/dragonflyHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis la libellule !</div>
                    </a>
                </div>
            </div>

            <!--------------------------IMAGE BIRDS--------------------------------->
            <div class="sideFamily2">
                <a href="{{ path('birds_page') }}"><img src="{{ asset('assets/img/animals/birds.png') }}" alt=""></a>
            </div>
        </div>

        <!--------------------------MESSAGES POP-UP--------------------------------->
        <div class="popUpFamily">
            <span id="family">Choisis un animal et écoute ce qu'il a à te raconter !</span>
        </div>
        <script>
            $( document ).ready(function() {
                $('.popUpFamily').slideUp().delay(1000).slideDown();
                $('.popUpFamily').slideDown().delay(5000).slideUp()
            });
        </script>

        <div class="popUpFamilyAnnexes1">
            <span id="familyAnnexes">Tu peux voir les autres familles en cliquant ici !</span>
        </div>
        <script>
            $( document ).ready(function() {
                $('.popUpFamilyAnnexes1').slideUp().delay(7000).slideDown();
                $('.popUpFamilyAnnexes1').slideDown().delay(5000).slideUp()
            });
        </script>

        <div class="popUpFamilyAnnexes2">
            <span id="familyAnnexes2">Et ici !</span>
        </div>
        <script>
            $( document ).ready(function() {
                $('.popUpFamilyAnnexes2').slideUp().delay(13000).slideDown();
                $('.popUpFamilyAnnexes2').slideDown().delay(5000).slideUp()
            });
        </script>

        <!-----------------------------SONS POP-UP--------------------------------->
{#
        <audio id='ladyBirdSound' src="{{ asset('assets/song/ladyBird.mp3') }}"/>
#}

    </main>
{% endblock %}