{% extends 'base/baseQuiz.html.twig' %}

{% block main %}

    <div class="formLogin">
        <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/main/home.jpg') }}" alt=""></a>
        <h1>Contact</h1>

        <!--------------------------FORMULAIRE CONTACT--------------------------------->
        {{ form_start(contactForm, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="formLogin2">
            <div class="form-group">
                {{ form_label(contactForm.prenom, 'Prénom', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(contactForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton nom ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(contactForm.email, 'Email', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(contactForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton email ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(contactForm.message, 'Message', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton message ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(contactForm.enregistrer) }}
                {{ form_widget(contactForm.enregistrer , {'attr': {'class': 'btn btn-success'}}) }}
            </div>

            <!--------------------------MESSAGE DE CONFIRMATION D'ENREGISTREMENT--------------------------------->
            <div class="messageConfirmation">
                {% for messages in app.flashes %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        {{ form_end(contactForm) }}

    </div>

{% endblock %}