{% extends 'base/baseQuiz.html.twig' %}

{% block main %}

    <div class="formLogin">
        <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/main/home.jpg') }}" alt=""></a>
        <h1>Contact</h1>


        {{ form_start(formContactView) }}

        <div class="formLogin2">
            <div class="form-group">
                {{ form_label(formContactView.prenom, 'Prénom', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(formContactView.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton nom ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formContactView.email, 'email', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(formContactView.email, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton email ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formContactView.motdepasse, 'Mot de passe', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(formContactView.motdepasse, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton mot de passe ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formContactView.message, 'Message', {'label_attr':{'class':'labelContact'}}) }}
                {{ form_widget(formContactView.message, {'attr': {'class': 'form-control', 'placeholder': 'Quel est ton message ?' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(formContactView.enregistrer) }}
                {{ form_widget(formContactView.enregistrer , {'attr': {'class': 'btn btn-success'}}) }}
            </div>

            <div class="messageConfirmation">
                {% for messages in app.flashes %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endfor %}
            </div>

        </div>

        {{ form_end(formContactView) }}

    </div>

{% endblock %}