{% extends 'base/base.html.twig' %}

{% block main %}

    <main>
        <div class="contentFamily">
            <div class="titleFarm">
                <img src="{{ asset('assets/img/titleFarm.png') }}" alt="">
            </div>

            <!--------------------------IMAGE BIRDS--------------------------------->
            <div class="sideFamily1">
                <img src="{{ asset('assets/img/birds.png') }}" alt="">
            </div>

            <!--------------------------IMAGE FARM--------------------------------->
            <div class="farmFamily">
                <img src="{{ asset('assets/img/farm.png') }}" alt="">
                <div class="dog">
                    <a href="{{ path('dog_page') }}"><img src="{{ asset('assets/img/dogHitbox.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                        <div class="animalText">Je suis le Chien !</div>
                    </a>
                </div>
                <div class="horse">
                    <img src="{{ asset('assets/img/horseHitbox.png') }}" alt="" onmouseover="PlaySound('horseSound')" onmouseout="StopSound('horseSound')">
                    <div class="animalText">Je suis le Cheval !</div>
                </div>
                <div class="pig">
                    <img src="{{ asset('assets/img/pigHitbox.png') }}" alt="" onmouseover="PlaySound('pigSound')" onmouseout="StopSound('pigSound')">
                    <div class="animalText">Je suis le Cochon !</div>
                </div>
            </div>

            <!--------------------------IMAGE BUGS--------------------------------->
            <div class="sideFamily2">
                <img src="{{ asset('assets/img/bugs2.png') }}" alt="">
            </div>
        </div>

        <!--------------------------MESSAGES POP-UP--------------------------------->
        <div class="popUpFamily">
            <span id="f">Clique sur ton animal préféré et écoute son histoire !</span>
        </div>

        <script>
            $( document ).ready(function() {
                $('.popUpFamily').slideUp().delay(1000).slideDown()
                $('.popUpFamily').slideDown().delay(4000).slideUp()
            });
        </script>

        <div class="popUpSideFamily">
            <span id="s">Clique ici pour découvrir les autres familles d'animaux !</span>
        </div>

        <script>
            $( document ).ready(function() {
                $('.popUpSideFamily').slideUp().delay(6000).slideDown()
                $('.popUpSideFamily').slideDown().delay(4000).slideUp()
            });
        </script>

        <!-----------------------------SONS POP-UP--------------------------------->
        <audio id='quizSound' src="{{ asset('assets/song/quiz.mp3') }}"/>
        <audio id='dogSound' src="{{ asset('assets/song/dog.mp3') }}"/>
        <audio id='horseSound' src="{{ asset('assets/song/horse.mp3') }}"/>
        <audio id='pigSound' src="{{ asset('assets/song/pig.mp3') }}"/>

        <script>
            function PlaySound(soundobj) {
                var thissound=document.getElementById(soundobj);
                thissound.play();
            }

            function StopSound(soundobj) {
                var thissound=document.getElementById(soundobj);
                thissound.pause();
                thissound.currentTime = 0;
            }
        </script>
    </main>
{% endblock %}