{% extends 'base/base.html.twig' %}

{% block main %}
    <!--------------------------FARM IMG--------------------------------->
    <main>
        <div class="contentFamily">
            <div class="farmFamily">
                <img src="{{ asset('assets/img/farm.png') }}" alt="">
                <div class="dog">
                    <img src="{{ asset('assets/img/dog.png') }}" alt="" onmouseover="PlaySound('dogSound')" onmouseout="StopSound('dogSound')">
                    <div class="dogText">Salut !</div>
                </div>
                <div class="horse">
                    <img src="{{ asset('assets/img/horse.png') }}" alt="" onmouseover="PlaySound('horseSound')" onmouseout="StopSound('horseSound')">
                </div>
                <div class="pig">
                    <img src="{{ asset('assets/img/pig.png') }}" alt="" onmouseover="PlaySound('pigSound')" onmouseout="StopSound('pigSound')">
                </div>





            </div>
        </div>

        <!--------------------------MESSAGES POP-UP--------------------------------->
        <div class="popUpFamily">
            <span id="f">Clique sur ton animal préféré et écoute son histoire !</span>
        </div>

        <script>
            $( document ).ready(function() {
                $('.popUpFamily').slideUp().delay(1000).slideDown()
                $('.popUpFamily').slideDown().delay(4000).slideUp()
            });
        </script>

        <!-----------------------------SONS POP-UP--------------------------------->
        <audio id='quizSound' src="{{ asset('assets/song/quiz.mp3') }}"/>
        <audio id='dogSound' src="{{ asset('assets/song/dog.mp3') }}"/>
        <audio id='horseSound' src="{{ asset('assets/song/horse.mp3') }}"/>
        <audio id='pigSound' src="{{ asset('assets/song/pig.mp3') }}"/>

        <script>
            function PlaySound(soundobj) {
                var thissound=document.getElementById(soundobj);
                thissound.play();
            }

            function StopSound(soundobj) {
                var thissound=document.getElementById(soundobj);
                thissound.pause();
                thissound.currentTime = 0;
            }
        </script>

    </main>
{% endblock %}