{% extends 'base/base.html.twig' %}

{% block main %}

<main>
    <a href="{{ path('quiz') }}"><img class="quiz" src="{{ asset('assets/img/main/quiz1.png') }}" alt="Ceci est un bouton pour accéder au Quiz" tabindex="2" onmouseover="PlaySound('quizSound')"
         onmouseout="StopSound('quizSound')"></a>

    <!--------------------------NAVBAR--------------------->
    <nav class="sidenav" role="navigation" aria-label="Menu principal">
        {% if is_granted("ROLE_ADMIN") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('admin') }}">Espace Admin</a> |
            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a> |
            <a href="{{ path('contact') }}">Contact</a>
        {%  elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a> |
            <a href="{{ path('contact') }}">Contact</a>

        {% else %}
            <a href="{{ path('admin') }}">Se connecter</a> |
            <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a> |
            <a href="{{ path('contact') }}">Contact</a>
        {% endif %}
    </nav>

    <!--------------------------TITRE LOGO--------------------->
    <div>
        <div class="title">
            <img src="{{ asset('assets/img/main/title.png') }}" alt="">
        </div>
    </div>

    <!---------------------------ICONE MEGAPHONE------------------------------->
    <div class="circleMegaphone">
    </div>
    <div class="button play">
        <img src="{{ asset('assets/img/main/megaphone.svg') }}" id="player" alt="">
    </div>

    <!---------------------------BACKGROUND AUDIO (SON NATURE)------------------------------->
    <audio id="background_audio" autoplay="autoplay">
        <source src="{{ asset('assets/song/nature.mp3') }}" />
    </audio>

    <!--------------------------3 IMAGES FAMILLES ANIMAUX--------------------------------->
    <div class="content">
        <a href="{{ path('farm_page') }}" class="farmHome"><img src="{{ asset('assets/img/animals/farm.png') }}" alt="Accéder aux animaux de la ferme" onmouseover="PlaySound('farmSound')" onmouseout="StopSound('farmSound')"></a>
        <a href="{{ path('bugs_page') }}" class="bugsHome"><img src="{{ asset('assets/img/animals/bugs.png') }}" alt="Accéder aux insectes" onmouseover="PlaySound('bugsSound')" onmouseout="StopSound('bugsSound')"></a>
        <a href="{{ path('birds_page') }}" class="birdsHome"><img src="{{ asset('assets/img/animals/birds.png') }}" alt="Accéder aux oiseaux" onmouseover="PlaySound('birdsSound')" onmouseout="StopSound('birdsSound')"></a>

        <!--------------------------MESSAGES POP-UP--------------------------------->
        <div class="popUpMegaphone">
            <span id="m">Tu peux désactiver le son en cliquant sur l'icône !</span>
        </div>
        <div class="popUpHome">
            <span id="a">Choisis ta famille d'animaux et écoute ce qu'ils ont à te raconter !</span>
        </div>
        <div class="popUpQuiz">
            <span id="q">Clique ici pour jouer au Quiz et tester tes connaissances !</span>
        </div>
        <div class="popUpRegistration">
            <span id="r">Mais avant de jouer, nous t'invitons à t'inscrire sur le site !</span>
        </div>

        <!-----------------------------SONS POP-UP--------------------------------->
        <audio id='quizSound' src="{{ asset('assets/song/quiz.mp3') }}"/>
        <audio id='farmSound' src="{{ asset('assets/song/farm.mp3') }}"/>
        <audio id='bugsSound' src="{{ asset('assets/song/bugs.mp3') }}"/>
        <audio id='birdsSound' src="{{ asset('assets/song/birds.mp3') }}"/>

    </div>
</main>

{% endblock %}