{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <div class="quizHeader">
                <div class="homeButtonQuiz">
                    <a href="{{ path('home_lesZanimeo') }}"><img src="{{ asset('assets/img/main/home2.jpg') }}" alt=""></a>
                </div>
                <h1 class="questionNumber">{{ questions.libelle }}</h1>
            </div>

            <div class="contentQuestionsQuiz">

                <!---------------------------IMAGE ANIMAL------------------------------->
                <div class="contentImgQuiz">
                    <img src="{{ asset('assets/img/animals') }}/{{ questions.image }}" alt="">
                </div>

                <!---------------------------CONTENU QUESTIONS------------------------------->
                <div class="contentRightQuiz">
                    <h1 class="questionMessage">VRAI OU FAUX ?</h1><br><br>
                    <p>{{ questions.resume }}<br><br><br>
                     <div class="btn-group" role="group" aria-label="Button">
                        <a href="{{ path('responses', {'id': questions.responses.first.id, 'goodResponses': goodResponses}) }}">
                            <button type="button" class="btn btn-info">VRAI</button></a>&nbsp;&nbsp;
                    </div>
                    <div class="btn-group" role="group" aria-label="Button">
                        <a href="{{ path('responses', {'id': questions.responses.last.id, 'goodResponses': goodResponses}) }}">
                            <button type="button" class="btn btn-info">FAUX</button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}