{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <a href="{{ path('home_lesZanimeo') }}"><img class="homeButton" src="{{ asset('assets/img/home.svg') }}" alt=""></a>
            <h1 class="questionNumber">{{ responses.libelle }}</h1>
            <div class="contentQuestionsQuiz">
                <div class="contentImgQuiz">
                    <img src="{{ asset('assets/img') }}/{{ responses.image }}" alt="">
                </div>
                <div class="contentTextQuiz">
                    <h1>{{ responses.message }}</h1><br><br>
                    <p>{{ responses.resume }}<br><br><br>
                    <div class="btn-group" role="group" aria-label="Button">
                        <a href="{{ path('questions', {'id': 2}) }}"><button type="button" class="btn btn-info">Continuer</button></a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}