{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <div class="quizHeader">
                <div class="homeButtonQuiz">
                    <a href="{{ path('home_lesZanimeo') }}"><img src="{{ asset('assets/img/main/home2.jpg') }}" alt=""></a>
                </div>
                <h1 class="questionNumber">{{ responses.libelle }}</h1>
            </div>

            <div class="contentQuestionsQuiz">
                <div class="contentImgQuiz">
                    <img src="{{ asset('assets/img/animals') }}/{{ responses.image }}" alt="">
                </div>
                <div class="contentTextQuiz">
                    <h1>{{ responses.message }}</h1><br><br>
                    <p>{{ responses.resume }}<br><br><br>
                    <div class="btn-group" role="group" aria-label="Button">
{#
                        <a href="{{ path('questions', {'id': responses.questions.id+1}) }}"><button type="button" class="btn btn-info">Continuer</button></a>
#}

                        {% if responses.id >= 35 %}
                            <a href="{{ path('score') }}"><button type="button" class="btn btn-info">Obtiens ton score !</button></a>
                        {% else %}
                            <a href="{{ path('questions', {'id': responses.questions.id+1}) }}"><button type="button" class="btn btn-info">Continuer</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}