{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <div class="quizHeader">
                <div class="homeButtonQuiz">
                    <a href="{{ path('home_lesZanimeo') }}"><img src="{{ asset('assets/img/main/home2.jpg') }}" alt=""></a>
                </div>
                <h1 class="questionNumber">{{ responses.libelle }}</h1>
            </div>

            <div class="contentQuestionsQuiz">

                <!---------------------------IMAGE ANIMAL------------------------------->
                <div class="contentImgQuiz">
                    <img src="{{ asset('assets/img/animals') }}/{{ responses.image }}" alt="">
                </div>

                <!---------------------------CONTENU REPONSES------------------------------->
                <div class="contentTextQuiz">

                        <!---------------------------CONDITION SCORE------------------------------->
                        {% if responses.id >= 35 %}
                            {% if responses.message == 'BRAVO, BONNE REPONSE !' %}
                                <h1 class="bravoResponse">{{ responses.message }}</h1><br><br>
                                <p>{{ responses.resume }}</p><br><br>
                                <a href="{{ path('score', { 'goodResponses': goodResponses }) }}"><button type="button" class="btn btn-info">Obtiens ton score !</button></a>
                            {% else %}
                                <h1 class="desoleResponse">{{ responses.message }}</h1><br><br>
                                <p>{{ responses.resume }}</p><br><br>
                                <a href="{{ path('score', { 'goodResponses': goodResponses }) }}"><button type="button" class="btn btn-info">Obtiens ton score !</button></a>
                            {% endif %}
                        {% elseif responses.message == 'BRAVO, BONNE REPONSE !' %}
                            <h1 class="bravoResponse">{{ responses.message }}</h1><br><br>
                            <p>{{ responses.resume }}</p><br><br>
                            <a href="{{ path('questions', {'id': responses.questions.id+1, 'goodResponses': goodResponses +1 }) }}"><button type="button" class="btn btn-info">Continuer</button></a>
                        {% else %}
                            <h1 class="desoleResponse">{{ responses.message }}</h1><br><br>
                            <p>{{ responses.resume }}</p><br><br>
                            <a href="{{ path('questions', {'id': responses.questions.id+1, 'goodResponses': goodResponses }) }}"><button type="button" class="btn btn-info">Continuer</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}