<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
    <body>
    <h1>Merci d'avoir répondu à notre Quiz, voici ton super certificat de participation !</h1>

    {% if goodResponses > 1 %}
            <p>Tu as répondu correctement à {{ goodResponses }} réponses, bravo {{ app.user.username }} !<br><br><br>
         {% elseif goodResponses == 0 %}
            <p>Bravo {{ app.user.username }} ! Tu as terminé le Quiz. Retente ta chance avec ce que tu as appris sur les animaux.<br><br><br>
        {% else %}
            <p>Tu as répondu correctement à {{ goodResponses }} réponse, bravo {{ app.user.username }} !<br><br><br>
        {% endif %}

        Visite du site : <a href="home.html.twig">www.lesZaniméo.fr</a>

    </body>
</html>