{% extends 'base/baseQuiz.html.twig' %}

{% block main %}
    <main>
        <div class="contentQuiz">
            <div class="quizHeader">
                <div class="homeButtonQuiz">
                    <a href="{{ path('home_lesZanimeo') }}"><img src="{{ asset('assets/img/main/home2.jpg') }}" alt=""></a>
                </div>
                <div class="quiz2Button">
                    <img src="{{ asset('assets/img/main/quiz2.png') }}" alt="">
                </div>
            </div>

            <div class="content2Quiz">
                <div class="contentScoreQuiz">
                    <h1>Voici ton score !</h1><br><br>
                    {% if goodResponses > 1 %}
                        <p>Tu as répondu correctement à {{ goodResponses }} réponses, bravo !<br><br><br>
                    {% elseif goodResponses == 0 %}
                        <p>Tu es un boloss petit, bravo !<br><br><br>
                    {% else %}
                        <p>Tu as répondu correctement à {{ goodResponses }} réponse, bravo !<br><br><br>
                    {% endif %}
                    <div class="btn-group" role="group" aria-label="Button">
                        <a href="{{ path('questions', {'id': 1, 'goodResponses': 0}) }}"><button type="button" class="btn btn-info">Relancer le Quiz</button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}